@import "mixins";
// @import "../../bower_components/flexboxgrid/css/index.css";
// @import "../bower_components/font-awesome/scss/font-awesome.scss";


$size-sm:        90px;
$size:           140px;
$spacing:        5px;

$player-X-icon:  "\f00d";
$player-O-icon:  "\f10c";

$cell-color: #72CBD4;
$HumanColor: #e74c3c;
$ComputerColor: #f1c40f;
$hover-color:    #3d4250;

*, *:before, *:after {
  box-sizing: border-box;
}
body {
	margin: 0;
	height: 100%;
	width: 100%;
  	text-align: center;
	font-family: 'Roboto'
}

div, span {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

.board {
	margin: 20px auto 10px auto;
	width: ($size-sm + $spacing*2)*3; 
	@media(min-width: 450px) {
		margin-top: 50px;
		margin-bottom: 30px;
		height: ($size + $spacing*2)*3;
		width: ($size + $spacing*2)*3;
	}
	.row {}
}

.cell {
	background-color: $cell-color;
	border-radius: 14px;
    height: $size-sm;
	width: $size-sm;
    margin: $spacing;
	@media(min-width: 450px) {
      height: $size;
      width: $size;
    }
	color: white;
	&:hover {
		background-color: $hover-color;


		&:after { opacity: .4; }
	}
	&:after {
	      left: 0;
	      font-family: "FontAwesome";
	      font-size: $size-sm*0.5;
	      margin-top: -($size-sm*0.5)/2;
	      opacity: 0;
	      position: absolute;
	      text-align: center;
	      text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
	      top: 50%;
	      width: 100%;
	      
	      @media(min-width: 450px) {
	        font-size: $size*0.5;
	        margin-top: -($size*0.5)/2;
	      }
	    }

	&.hovered-X {

		&:after { content: $player-X-icon; }
	}
	&.hovered-O {

		&:after { content: $player-O-icon; }
	}

	&.X {
		&:after { content: $player-X-icon; opacity: 1;}
	}
	&.O {
		&:after { content: $player-O-icon; opacity: 1;}
	}

	&.HumanColor {
		background-color: $HumanColor;
	}
	&.ComputerColor {
		background-color: $ComputerColor;
	}
}
.roles {
	.role-title{
	    font-size: 20px;
		font-family: 'Roboto'
	}
	.cell {
	    height: $size-sm *0.8;
		width: $size-sm *0.8;
		@media(min-width: 450px) {
		    height: $size*0.8;
			width: $size*0.8;
		}
	}
}

.button
{
	position: relative;
	padding: 10px 40px;
  	margin: 0 auto;
  	float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
	outline: none;
	@media(max-width: 450px) {
		padding: 5px 20px;
	}
}

.new-game
{
	background-color: #1abc9c;
	border-bottom: 5px solid #16a085;
	text-shadow: 0px -2px #16a085;
}

.button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}


.end {
    background: rgba(255, 255, 255, .8);
    bottom: 5px;
    color: #3d4250;
    display: block;
    left: 5px;
    padding-top: 55px;
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: center;
    z-index: 11;
   
    @media(min-width: 450px) {
      padding-top: 110px;
    }

    h3 {
      font-size: 30px;
      font-weight: 300;
      
      @media(min-width: 450px) { font-size: 40px; }
    }

}

.starting_role {
    background: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    color: #3d4250;
    display: block;
    padding-top: 55px;
    position: absolute;
    text-align: center;
    z-index: 11;
    border-radius: 14px;
}